@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Funding Data Zone Administration</h1>
    <p>Use this tool to administer the Funding Data Zone data feed.</p>
</div>
